<h2>Search Artwork</h2>

<form action="/artworks" method="GET">
  <div>
    <label>Title</label>
    <input type="text" name="title" value="<%= searchOptions.title %>" />
  </div>
  <div>
    <label>Published After</label>
    <input
      type="date"
      name="publishedAfter"
      value="<%= searchOptions.publishedAfter %>"
    />
  </div>
  <div>
    <label>Published Before</label>
    <input
      type="date"
      name="publishedBefore"
      value="<%= searchOptions.publishedBefore %>"
    />
  </div>
  <button type="submit">Search</button>
</form>
<div>
  <% artworks.forEach(artwork => { %>
  <a href="/artworks/<%= artwork.id %>">
    <img height="300" width="300" src="<%= artwork.coverImagePath %>" />
  </a>
  <% }) %>
</div>
