<div class="container" style="height: 100vh">
  <div class="row mt-5 justify-content-center">
    <img
      class="img-index col-lg-6"
      width="600"
      height="600"
      src="<%= artwork.coverImagePath %>"
    />

    <div class="col-lg-6 px-5">
      <h2 class="fs-4 mt-5 mb-3"><%= artwork.title %></h2>

      <div>Artist: <%= artwork.artist.name %></div>
      <div>Published: <%= artwork.publishDate.toDateString() %></div>
      <div>Description: <%= artwork.description %></div>

      <div>
        <a class="text-decoration-none" href="/artists/<%= artwork.artist.id %>"
          >View Artist</a
        >
        |
        <a class="text-decoration-none" href="/artworks/<%= artwork.id %>/edit"
          >Edit</a
        >
        <div class="mt-2">
          <%- include('../partials/deleteForm', { url: `/artworks/${artwork.id}`
          }) %>
        </div>
      </div>
    </div>
  </div>
</div>
