<h2><%= artwork.title %></h2>

<img width="500" height="500" src="<%= artwork.coverImagePath %>" />
<div>Artist: <%= artwork.artist.name %></div>
<div>Published: <%= artwork.publishDate.toDateString() %></div>
<div>Description: <%= artwork.description %></div>

<a href="/artworks/<%= artwork.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/artworks/${artwork.id}` }) %>
<a href="/artists/<%= artwork.artist.id %>">View Artist</a>
