<h2>Search Artists</h2>
<form action="/artists" method="GET">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" value="<%= searchOptions.name %>" />
  <button type="submit">Search</button>
</form>
<br />
<% artists.forEach(artist => { %>
<div><%= artist.name %></div>
<a href="/artists/<%= artist.id %>"> View</a>
<a href="/artists/<%= artist.id %>/edit"> Edit</a>
<%- include('../partials/deleteForm', { url: `/artists/${artist.id}` }) %> <% })
%>
